*{
  margin:0;
  padding: 0;
  background-color: black;
  box-sizing: border-box;
  
}
body{
  --twitter-color:#FAF9F6;
 --twitter-background:rgba(50, 50, 40, 0.5);
 color: white;
 font-family: Arial;
}
